<mat-tab-group mat-align-tabs="start" style="padding-top: 40px; padding-left: 2%; padding-right: 2%;">
  <mat-tab label="RACAS">
    <div fxLayout="row" fxLayoutAlign="start center" style="padding: 4;">
      <div style="margin: o.5%;">
        <h4>mat-select</h4>
        <mat-form-field appearance="fill">
          <mat-label>Choose an option</mat-label>
          <mat-select [(value)]="breed_id" (selectionChange)="getCompanheiro()">
            <mat-option [value]="raca.id" *ngFor="let raca of racas">{{raca.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-card class="example-card" fxflex="0 1 calc(33.3% - 11px)" fxflex.lt-md="0 1 calc(50% - 11px)"
          fxflex.lt-sm="100%" *ngFor="let companheiro of companheiros">
          <mat-card-header>

          </mat-card-header>
          <img mat-card-image [src]="companheiro.url">
          <mat-card-content>
            </mat-card-content>
        </mat-card>
      </div>

    </div>
  </mat-tab>
 </mat-tab-group>